.image-upload {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.image-upload-label {
  font-size: 14px;
  font-weight: 500;
}

.image-upload-box {
  position: relative;

  height: 180px;

  border: 2px dashed #d3d3d3;

  border-radius: 12px;

  overflow: hidden;

  cursor: pointer;

  transition: border-color .2s;
}

.image-upload-box:hover {
  border-color: #1c62c3;
}

.image-upload-box input {
  position: absolute;
  inset: 0;

  opacity: 0;

  cursor: pointer;
}

.upload-placeholder {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #606060;
}

.upload-placeholder span {
  font-size: 42px;
}

.image-preview {
  width: 100%;
  height: 100%;

  object-fit: cover;
}