/* List */
.yt-comment-list {
  display: flex;
  flex-direction: column;

  gap: var(--space-6);
}

/* Empty */
.yt-comments-empty {
  padding: var(--space-8) 0;

  text-align: center;

  color: var(--yt-text-secondary);
}